{% extends "base.html" %}

{% block title %}Authorized Database{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/home.css') }}">
{% endblock %}

{% block content %}
<div class="container" style="min-height: 100vh!important;">
    <h1 class="text-center">Authorized Database</h1>
    <div class="container main-data">
        <!-- <div class="sear-add">
            <div class="searchBox">
                <form>
                    <input type="search" placeholder="Search....." name="dataSearch" id="dataSearch">
                    <button type="submit" class="sbt">🔍</button>
                </form>
            </div>
            <a href="#">
                <div class="circle">
                    <span class="arrow"><b>+</b></span>
                </div>
            </a>
        </div>
        <hr style="z-index: 9999; border: 1px solid white!important; width: 100%;"> -->
        <div class="data">
            <div class="table-section">
                <div class="table-responsive tbr">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Image</th>
                                <th scope="col">Name</th>
                                <th scope="col">Gender</th>
                                <th scope="col">DOB</th>
                                <th scope="col">Place</th>
                                <th scope="col">Nationality</th>
                                <!-- <th scope="col">Special Description</th> -->
                                <!-- <th scope="col">Update</th>
                                <th scope="col">Delete</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for ci in authInfo %}
                            {% if ci is not none %}
                            <tr>
                                <td>{{ ci["id"] }}</td>
                                <td><img src="/static/data/authorized/{{ci['id']}}.jpeg" alt=""></td>
                                <td>{{ ci["name"] }}</td>
                                <td>{{ ci["gender"] }}</td>
                                <td>{{ ci["dob"] }}</td>
                                <td>{{ ci["place"] }}</td>
                                <td>{{ ci["nationality"] }}</td>
                                <!-- <td>asdfg</td> -->
                                <!-- <td><a href="#" class="btn btn-warning">➔</a></td>
                                <td><a href="#" class="btn btn-warning">➔</a></td> -->
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>    
            </div>         
        </div>
    </div>
</div>
{% endblock %}