{% extends "base.html" %}

{% block title %}Shastryuh{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/home.css') }}">
<style>
    .item{
        margin: 10px 10px;
        width: 65%;
        max-height: 78vh;
    }
</style>
{% endblock %}
{% block content %}

<div class="container items">
    <div class="item" style="height: 100vh;">
        <div class="card">
            <div class="card-body" style="width: 80%;">
                <img src="{{url_for('shastryuh_feed')}}" width="100%" style="border-radius: 20px;">
            </div>
             <a href="/ai/shastryuh/detections" style="margin: 10px 0;">
                <div class="circle">
                    <span class="arrow" aria-label="Detection"><b>+</b></span>
                </div>
            </a>
        </div>
    </div>
    <!-- <div class="item" style="height: 70vh!important;">
        <div class="card" style="width: 100%; height: 100%;">
            <div class="card-body" style="width: 100%; height: 100%;">
                <h3>Detections</h3>
                <hr>
                {% for detn in detnmm %}
                {% for dett in dettt %}
                {% for ids in detidd %}
                <div class="detect" style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; gap: 20px; overflow: scroll;">
                    <img src="/static/data/images/{{ids}}.jpeg" width="20%" height="auto" style="border-radius: 50%;">
                    <div class="info" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
                        <h6>Name : {{detn}}</h6>
                        <p>Time : {{dett}}</p>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div> -->
</div>
{% endblock %}